/*
	Created by Tech_dog (ebontrop@gmail.com) on 14-Dec-2024 at 14:06:42.891, UTC+7, Novosibirsk, Saturday;
	This is electric vehicle project main layout CSS implementation file.
*/

@import url("~/content/theme/site.theme-all.css");

:root {
	--pos-pane-h:  100%;
	--pos-pane-l:   0px;
	--pos-pane-t:   0px;
	--pos-pane-w: 200px;
}