/*
	Created by Tech_dog (ebontrop@gmail.com) on 7-Dec-2024 at 21:06:10.599, UTC+7, Novosibirsk, Saturday;
	This is electric vehicle project shared CSS definitions' file;
*/

@import url("draw/site.draw-shape.css") screen;
@import url("theme/site.theme-all.css") screen;

:root {  /* https://stackoverflow.com/questions/62136119/adding-background-colour-to-webpage ;*/
	--root_the_startup_def_bkg_d : var(--clr-theme-d-0-bkg);  /* this is required for setting background  color on the startup of the web app,
	                                                             otherwise it is not coincident with current theme;

	                                                             ToDo: there must be reference(s) to this file from the html pages;
	                                                          */
}

body {
    padding-top      : 50px;
    padding-bottom   : 20px;
	background-color : var( --root_the_startup_def_bkg_d );
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left : 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* sets the particular maximum value of the width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}
