/*
	Created by Tech_dog (ebontrop@gmail.com) on 17-Dec-2024 at 23:55:33.464, UTC+4, Batumi, Wednesday;
	This is Electric Vehicle test project main page cars' list stylesheet definition file;
*/

@import url("App_Themes/site.theme-all.css");

:root {
	--clr-back-a : var(--clr-back-d0-a);
	--clr-fore-a : var(--clr-fore-d0-v);
}

/*#region __body*//*https://stackoverflow.com/questions/7519856/regions-in-css-like-c-sharp-regions*/
.cls-this-bod-clr {
	background-color: var(--clr-back-a);
}

.cls-this-bod-pos {
	padding    : 0px 5px 5px 5px; /* top|right|bottom|left */
	overflow-y : auto;
}

.cls-this-bod-txt {
	line-height     : 21px ;
	text-decoration : none ;
}
/*#endregion*/

.cls-div-main {
	background-color: var(--clr-back-a);
}

/*#region __caption*/
.cls-table-cap {
	border : none;
/*	color  : var(--clr-fore-a)   ; */
	color  : var(--clr-fore-d0-v);
}

.cls-table-cap-desc {
	font-family : Verdana;
	font-size   : 10.5pt  ;
	font-weight : normal;
}

.cls-table-cap-td {
	text-align  : left;
	font-family : 'Trebuchet MS';
	font-size   : 16pt;
}
/*#endregion*/

/*#region __p_s*/
.div-refs-active {
	cursor: default;
}
.div-refs-border {
	left: 10px; top : 0; height: 1px; width:50%;
	background-image: linear-gradient(to right, darkorange, transparent);
}

.div-refs-pos {
	background-color: var(--clr-back-a); height: var(--pos-foot-h, 50px); left: var(--pos-foot-l, 0px); position: fixed; bottom: var(--pos-foot-b, 0px);
	border: 0;  /* no lines on sides */  width : var(--pos-foot-w, 100%);
}
/* https://www.w3schools.com/html/html_entities.asp */
.div-refs-text {
	color      : var(--clr-fore-d0-x);
	font-family: Verdana;
	font-size  :  9pt;
	line-height: 15px;
}

.div-refs-text:hover {
	color      : var(--clr-border-d0-l);
}
/*#endregion*/

.obout-table-pos {
	width:  88%;
}
