/*
	Created by Tech_dog (ebontrop@gmail.com) on 16-Dec-2024 at 09:36:57.794, UTC+4, Batumi, Monday;
	This is electric vehicle project main view footer page CSS declaration file.
*/

@import url("el_veh_shared.css");

.body_foot {
	padding-left :  0px;
	padding-top  :  0px;
	overflow     :  hidden;
	height: 100% ;
	width : 100% ;
}

.sta_border {
/*	border: 1px solid yellow; */
	border-top-color: #e5b742;
	border-top-width: 1px;
	border-top-style: solid;
}

.sta_footer { /* https://stackoverflow.com/questions/6490252/vertically-centering-a-div-inside-another-div :: content arrangement; */
	padding: 0px;
	background-color: #3d3d3d;
	font-size       : 9.2pt;
	font-family     : Verdana, 'Trebuchet MS';
	color           : #e2e2e2;
	text-decoration : none;
	letter-spacing  : normal;
}

.sta-size {
	left:0;top:0;
/*	bottom  : 0;*/   /* this is important for status bar div */
	position: fixed; /* https://www.codeproject.com/Tips/667377/Fixed-Div-At-The-Bottom-Of-The-Page :: footer; */
	height  : 31px;  /* https://en.wikipedia.org/wiki/Status_bar ;*/
	width   : 100%;
	z-index : 3 ;
}

.sta-pane-pos {
	padding: 0px 0px 0px 3px; display:flex; align-items:center;
}

.sta-pane-obj {
	padding:  0px 0px 0px 3px; /*top|right|bottom|left*/
	height : 30px ;
	display: flex ; align-items:center;
}

.sta-pane-lst {
	padding:  11px 0px -1px 10px; /*top|right|bottom|left*/
	height :  30px ; width: 34px;
	display:  flex ;
	align-items    : baseline;
}

.sel-popup {
	display      :  block;
	border       :   0;
	width        :   auto;
	height       :   auto;
	overflow-x   : hidden;
	overflow-y   : hidden;
	padding      :   0px ;
	box-shadow   :   none;
	user-select  :   none;
}