/*
	Created by Tech_dog (ebontrop@gmail.com) on 7-Dec-2024 at 21:04:46.379, UTC+7, Batumi, Saturday;
	This is electric vehicle web project dark theme CSS definition file;
*/

:root {
	--clr-theme-d-0-bkg      : #3d3d3d; /* web pages and html element container color for dark theme; MS Windows Home edition defines it; */
}

:root {
	--clr-theme-d-0-border-s : orange ; /* this is the border color defined by the system; */
}

:root {
	--clr-theme-d-0-title-m  : var(--clr-theme-d-0-border-s) ; /* modal dialog title text color, i.e. foreground color; */
}